<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>The voice of Jesus</title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link th:href="@{/css/styles.min.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/library/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library/jquery.twbsPagination.min.js}"></script>
</head>