<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common/head}"></div>
<link th:href="@{/css/error/error.css}" rel="stylesheet"/>

<body>
<div th:replace="~{common/navigator :: navigator('home')}"></div>

<div>
    <div class="info_error">
        <img th:src="@{/images/icon/warning-220.png}" alt="Error" class="error_img">
        <strong class="tit_error">현재 페이지에 오류가 발생했습니다.</strong>
        <p class="desc_error">
            요청하신 페이지에 오류가 발생했습니다.
            <br/>잠시 후 다시 시도해 주세요.
        </p>
        <div class="wrap_linkhome">
            <a href="/" class="link_home">
                <span class="inner_link">
                    <span class="txt_home">첫 페이지로 가기</span>
                </span>
            </a>
        </div>
    </div>
</div>
<div th:replace="~{common/footer}"></div>
</body>
</html>