<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common/head}"></div>
<link th:href="@{/css/view.css}" rel="stylesheet"/>

<body>
<div th:replace="~{common/navigator}"></div>
<div style="margin-bottom: 30px"></div>

<section id="notice" class="notice">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="entries">
                <article class="entry entry-single background-black" style="text-align: center;">
                    <h2 class="entry-view-title font-white">
                        The voice of Jesus
                    </h2>
                    <div>
                        <img th:src="@{/images/logo/logo_origin.png}" alt="logo" style="width: 50%; height: 50%;">
                    </div>
                    <div>
                        <p>"내가 가진 달란트로 하나님을 위해 할 수 있는 일이 무엇이 있을까?"
                            <br/>라는 생각을 시작으로 프로젝트를 만들게 되었습니다.
                        </p>
                        <br/>
                        <p>비록 작은 발걸음이지만, 많은 사람들에게 선향 영향력이 전달되어
                            <br/>또 다른 선한 변화를 만들어내길 소망합니다.
                        </p>
                        <br/>
                        <p style="font-weight: bold; color: #376BCB">
                            주께 기쁘시게 할 것이 무엇인가 시험하여 보라 [엡5:10, 개역한글]
                        </p>
                        <br/>
                        <hr>
                        <p>개선 또는 문의 사항은 아래 메일로 보내주시면 감사하겠습니다.
                            <br/>jihunpark.tech@gmail.com
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{common/footer}"></div>
</body>
</html>
