<!DOCTYPE html>
<html lang="en">
    <div th:replace="~{common/head}"></div>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>

    <body>
        <div th:replace="~{common/navigator}"></div>

        <header class="bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Trace the his voice</h1>
                    <p class="lead mb-0">설교 내용이 잘 기억나지 않으신다면, 다시 한번 내용을 되새겨 보세요.</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="container">
                            <div class="row post-container">
                                <div class="col-md-6 post-item" th:if="${sermonListPage.totalElements} == 0">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="small text-muted">업로드된 영상이 없습니다.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 post-item" th:each="sermon : ${sermonListPage.content}">
                                    <div class="card mb-4">
                                        <a th:href="@{/sermon/{id}(id=${sermon.id})}">
                                            <img class="card-img-top" th:src="${sermon.thumbnailUrl}" alt="thumbnail Image"/>
                                        </a>
                                        <div class="card-body">
                                            <div class="small text-muted" th:text="${sermon.uploadedDate}"></div>
                                            <h2 class="card-title h4" th:text="${sermon.title}"></h2>
                                            <a class="btn btn-primary" th:href="@{/sermon/{id}(id=${sermon.id})}">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="paging-div">
                        <ul class="pagination" id="pagination"></ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <form name="form" id="form" th:action="@{/}" method="get">
                        <input type="hidden" id="page" name="page" th:value="${param.page}"/>
                        <input type="hidden" id="channel" name="channel" th:value="${param.channel}"/>
                        <input type="hidden" id="playList" name="playList" th:value="${param.playList}"/>

                        <div class="card mb-4">
                            <div class="card-header">Search</div>
                            <div class="card-body">
                                <div class="input-group">
                                    <input type="text" id="search" name="search" th:value="${param.search}" class="form-control" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button type="submit" th:onclick="'goSearch()'" class="btn btn-primary" id="button-search">Search</button>
                                    <button type="button" th:onclick="'resetFilter()'" class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">Channel</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6" th:each="channel, iterStat : ${channels}">
                                        <a href="#" class="d-block" th:if="${iterStat.index == 0}" th:onclick="'goChannel(event)'" data-value="ALL">전체</a>
                                        <a href="#" class="d-block" th:onclick="'goChannel(event)'" th:text="${channel.second}" th:data-value="${channel.first}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">PlayList</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6" th:each="play, iterStat : ${playLists}">
                                        <a href="#" class="d-block" th:onclick="'goPlayList(event)'" th:text="${play.second}" th:data-value="${play.first}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="~{common/footer}"></div>
        <script type="text/javascript" th:src="@{/js/index.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            console.log([[${sermonListPage}]])
            console.log([[${channels}]])
            let totalPages = [[${sermonListPage.totalPages}]];
            let startPage = [[${sermonListPage.number}]] + 1;

            if (totalPages > 0) {
                $(function () {
                    window.pagObj = $('#pagination').twbsPagination({
                        totalPages: totalPages,
                        startPage: startPage,
                        visiblePages: 10,
                        prev: "‹",
                        next: "›",
                        first: '«',
                        last: '»',
                        onPageClick: function (event, page) {
                        }
                    }).on('page', function (event, page) {
                        searchSermonList(page - 1);
                    });
                });
            }
        </script>
    </body>
</html>
