<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common/head}"></div>
<link th:href="@{/css/index.css}" rel="stylesheet"/>
<link th:href="@{/css/view.css}" rel="stylesheet"/>

<body>
<div th:replace="~{common/navigator}"></div>

<header class="bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Trace the his voice</h1>
            <p class="lead mb-0">설교 내용이 잘 기억나지 않으신다면, 다시 한번 내용을 되새겨 보세요.</p>
        </div>
    </div>
</header>

<section id="notice" class="notice">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="entries">
                <article class="entry entry-single background-black">
                    <h2 class="entry-view-title font-white">
                        <p>[(${sermon.title})]</p>
                    </h2>
                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i> 게시일: [(${sermon.createdDt})]
                            </li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <h5 class="font-white" style="font-weight: bold;"><i class="bi bi-info-circle"></i> 말씀 정보</h5>
                        <div>
                            <span>• 채널명: [(${sermon.publisher})]</span><br/>
                            <span>• 업로드 일자: [(${sermon.uploadedDate})]</span><br/>
                            <span>• 재생목록: [(${sermon.playList.title})]</span><br/>
                            <br/>
                        </div>
                    </div>

                    <div class="entry-content" style="margin-top: 10px;">
                        <iframe class="iframe-container"
                                th:src="@{https://www.youtube.com/embed/{id}(id=${sermon.videoId})}"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        <div style="display: flex; align-items: center;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="25" height="25" version="1.1" id="Layer_1" viewBox="0 0 461.001 461.001" xml:space="preserve">
                                            <g><path style="fill:#F61C0D;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728   c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137   C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607   c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"/></g>
                                        </svg>
                            &nbsp<a target="_blank" th:href="@{${sermon.videoUrl}}">바로가기</a>
                        </div>
                    </div>

                    <div class="entry-content">
                        <h3 class="font-white" style="margin-top: 50px;">
                            <i class="bi bi-journal-bookmark"></i> 말씀 요약
                        </h3>
                        <div class="text-container">[(${sermon.summary})]</div>
                    </div>

                    <div class="entry-content" style="margin-top: 50px">
                        <h3 class="font-white"><i class="bi bi-journal-text"></i> 말씀 자막</h3>

                        <button type="button" id="transcript-btn" class="btn btn-secondary">
                            전체 자막 펼치기 <i class="bi bi-caret-down-fill"></i>
                        </button>

                        <div class="text-container" id="transcript" style="display: none; margin-top: 10px;">[(${sermon.transcript})]</div>
                    </div>

                    <div class="entry-content" style="margin-top: 50px">
                        <h3 class="font-white"><i class="bi bi-file-earmark-word"></i> 주요 단어</h3>

                        <div class="word-cloud"></div>

                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Word</th>
                                <th scope="col">Count</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="entry, stat : ${sermon.wordCount}">
                                <th scope="row" th:text="${stat.count}">1</th>
                                <td th:text="${entry.key}">Word</td>
                                <td th:text="${entry.value}">Count</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="entry-button">
                        <div>
                            <button th:onclick="|location.href='@{/}'|" class="btn btn-dark"><i class="bi bi-list"></i> LIST</button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{common/footer}"></div>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
<script type="text/javascript" th:src="@{/js/view.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const wordCount = [[${sermon.wordCount}]];
    /*]]>*/
</script>
<script>
    const words = Object.entries(wordCount).map(([text, size]) => ({ text, size }));

    const pageWidth = window.innerWidth;
    const width = pageWidth / 1.5;
    const height = 400;
    const layout = d3.layout.cloud()
        .size([width, height])
        .words(words.map(d => ({ text: d.text, size: d.size })))
        .padding(5)
        .rotate(() => (Math.random() > 0.5 ? 0 : 90))
        .font("Impact")
        .fontSize(d => d.size)
        .on("end", draw);

    layout.start();

    function draw(words) {
        const svg = d3.select(".word-cloud")
            .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", `translate(${width / 2}, ${height / 2})`);

        svg.selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-family", "Impact")
            .style("font-size", d => `${d.size}px`)
            .style("fill", () => `hsl(${Math.random() * 360}, 100%, 50%)`)
            .attr("text-anchor", "middle")
            .attr("transform", d => `translate(${d.x}, ${d.y}) rotate(${d.rotate})`)
            .text(d => d.text);
    }
</script>
</body>
</html>
